
.app-container {
    display: flex;
    font-family: Arial, sans-serif;
  }
  
  header {
    width: 100%;
    padding: 10px;
    background-color:gray;
    color: white;
    text-align: center;
    position: fixed;
    
  }
  
  main {
    margin-left: 200px;
    padding: 20px;
    margin-top: 50px;
  }
  
 
  
  .hamburger {
    cursor: pointer;
    font-size: 30px;
    position: fixed;
    top: 10px;
    left: 10px;
   
    
  }
  
  .sidebar {
    width: 200px;
    height: 100%;
    background-color: green;
    color: white;
    position: fixed;
    top: 0;
    left: -200px;
   padding-top: 20px;
    
  
    
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar span {
    display: block;
    padding: 15px;
  
  }
  
  .sidebar span a {
    color: white;
    text-decoration: none;
  }
  
  
  