


  header {
    background-color: #f8f9fa;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    
  }
  
  header h1 {
    font-size: 24px;
    margin-left: 10px;
    
  }
  
  /* Hamburger icon */
  .hamburger {
    cursor: pointer;
    font-size: 30px;
    color:white;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hide sidebar off-screen */
    width: 250px;
    height: 100%;
    background-color:lightblue;
    color: white;
    padding-top: 40px;
    
  }
  
  .sidebar.open {
    left: 0; /* Slide in from left */
  }
  
  .sidebar span {
    display: block;
    margin: 15px 0;
    padding: 10px 15px;
  }
  
  .sidebar span a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }

  
  /* Main Content */
  main {
    margin-top: 50px;
    margin-left: 0;
    padding: 20px;
  }
  
  .sidebar.open ~ main {
    margin-left: 250px; 
  }


  
  
  