



header {
    background-color:lightgreen;
    padding: 10px 20px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    
  }
  
  header h1 {
    font-size: 24px;
    margin-left: 10px;
    
  }
  

  
  .hamburger {
    cursor: pointer;
    font-size: 50px;
    color:white;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color:lightgreen;
    color: white;
 
  
  }
  
  .sidebar.open {
    left: 0; 
  }
  
  .sidebar span {
    display: block;
    margin: 15px 0;
    padding: 10px 10px;
  }
  
  .sidebar span a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
  }

  
 
  
  main {
    margin-top: 50px;
    margin-left: 0;
    padding: 20px;
  }
  
  .sidebar.open ~ main {
    margin-left: 300px; 
    margin-top: 5%;
  }


  
  
  