
/* Random_Password.css */

/* Style for the container */
.container {
    max-width: 400px;
  
    margin-top: 20%;
    padding: 20px;
    background-color:purple; 
 
    
  
    
}


.container input[type="text"] {
    width: 100%;
    padding: 12px;
    background-color:white;
    text-align: center;
    
   
    
}



.btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}



.btns button {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    color:white; 
    background-color: blue; 
    border: none;
    
}


